body {
    background:#fff url('images/paper.jpg') no-repeat center center fixed;
    padding: 0px;
    margin: 0px;
    spacing: 0px;
    font-family: sans-serif;
    background-size: cover;
}

#content {
}

canvas {
    border: 0px solid black;
}

hidden {
    display: none;
}

h1 {
    margin: 20px;
    font-size: 75px;
}

.settings {
    background: #eee;
    display: inline-block;
    width: 100%;
    min-height: 100px;
    font-size: 30px;
}

.settings * {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.control {
    padding: 10px;
    font-size: 30px;
}

.currentplayer {
    box-shadow: 0px 0px 10px black;
}

.player {
    text-align: center;
    border: 4px solid;
    min-width: 50px;
    height: 40px;
    padding-top: 10px;
}

#result {
    position: absolute;
    background: #eee;
    padding: 10px 15px;
    border-radius: 15px;
    border: 1px solid #ddd;
    display: block;
    width: 300px;
    text-align: center;
    box-shadow: 0px 5px 20px gray;
    left: calc(50% - 165px);
    top: 150px;
}

#result_content {
    font-size: 50px;
}

.hidden {
    display: none !important;
}
