body {
    background:#aaa;
    color:#000;
    font-family:sans-serif;
}

#content {
    position: relative;
    background:#ccc;
    color: #333;
    width:768px;
    margin: 0 auto 0 auto;
    padding: 25px 25px 15px 25px;
    border-radius: 25px;
}

#stats {
    position: absolute;
    top: 50px;
    right: 25px;
}

h1 {
    margin: 0 0 10px 0;
    font-size:3em;
}

canvas {
    border:1px solid black;
    touch-action: manipulation;
}


#game-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}

