body {
    background:#000;
    color:#fff;
    font-family:sans-serif;
}

#content {
    width:672px;
    margin: 0 auto 0 auto;
}

#canvases {
    position: relative;
    background: radial-gradient( circle at 50%, #000, #00f);
    border-radius: 30px 30px 0px 0px;
    width: 672px;
    height: 720px;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    <!--border:1px solid black;-->
    touch-action: manipulation;
}

#canvas_shadow {
    opacity: .35;
}

#frame {
    position: absolute;
    width: 672px;
}
