@font-face {
    font-family: "SegmentedAlpha";
    src: url('fonts/Digital7Regular.otf');
}

body {
    background: #222;
    color: #fff;
    font-family: sans-serif;
}

#content {
    width: 672px;
    margin: 0 auto 0 auto;
}

#info {
    width: 340px;
    display: inline-block;
    vertical-align: bottom;
    font-family: segmentedalpha;
    font-size: 2em;
    height: 110px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#level_div {
    float: left;
}

#lives_div {
    float: right;
}

#score_div {
    display: block;
    text-align: center;
    bottom: 0px;
    margin: 0px auto;
    width: inherit;
    position: absolute;
}

.label {
    color: #aaa;
}

#logo {
    vertical-align: bottom;
}

#canvases {
    position: relative;
    background: radial-gradient( circle at 50%, #000, #00f);
    border-radius: 30px 30px 0px 0px;
    width: 672px;
    height: 720px;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    <!--border:1px solid black;-->
    touch-action: manipulation;
}

#canvas_shadow_dynamic, #canvas_shadow_static {
    opacity: .35;
}

#frame {
    position: absolute;
    width: 672px;
}
