body {
    background: #707070;
    max-width: 750px;
    margin: 0 auto 0 auto;
    font-family: sans-serif;
}

a         { color: #aaa; }
a:visited { color: %999; }
a:hover   { color: #fff; }

h1, h2 {
    margin-bottom: -10px;
}