body {
    font-family: sans-serif;
    text-align: center;
}

.option_container {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.option_container > span {
    display: block;
}
