body {
    background: #486A2E;
    font-family: Sans-serif;
}

#content {
    width: 512px;
    margin: auto;
    border: 0px solid red;
    padding: 20px;
    background: rgba(255,255,255,.8);
    border-radius: 15px;
    filter: drop-shadow(0px 8px 15px black);
}

.wrapper {
    display: inline-block;
}

canvas {
    margin: 0px;
}

#fling_output, #fling_input{
    width: 512px;
}

#fling_output canvas {
    margin-right: 12px;
}

h1 {
    color: #221402;
    margin: 0px 0px 10px 0px;
}

@media screen and (min-width:1030px) {
    #content {
        width: 1030px;
    }
}

button {
    padding:30px;
    font-size: 2em;
    width: 200px;
}

button.right {
    float: right;
}

#message {
    font-size: 2em;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 300px;
    margin-bottom: 300px;
}
