body {
    background:#eee;
    color:#000;
    font-family : sans-serif;
}

#content {
    background :#fff;
    margin: auto;
    padding: 10px 25px;
    border-radius: 25px;
    max-width: 1024px;
    box-shadow: 0px 15px 30px 0 gray;
}

#demo-container {
    text-align: center;
    margin: auto;
}

.canvasContainer {
    display: inline-block;
    vertical-align: top;
}

canvas {
    max-width: 256px;
}

img {
    display: block;
    margin: auto;
}

.hidden {
    display: none;
}

.slider {
    vertical-align: middle;
}

.preview {
    width: 128px;
}

canvas {
    border:1px solid black;
}

.channel {
    display: inline-block;
}

.main_third {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

#middle {
    border-radius: 10px;
    background: lightgray;
    padding: 10px;
}

.inputdiv {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.inputdiv h3 {
    margin-top: -20px;
    background: white;
    width: fit-content;
    margin: -20px auto 2px;
    padding: 0px 10px;
}
