@font-face {
    font-family: "Handwriting";
    src: url('fonts/MarkerFelt-Thin.woff');
}

body {
    background: #333;
    margin: 0px;
    padding: 0px;
    font-family: "Handwriting";
}

h1, h2 {
    margin-top: 0px;
    color: #AA0000;
}

#content {
    width: 630px;
    margin: auto;
    background: tan url(images/parchment.jpg);
    background-size: 100% 2000px;
    padding: 40px;
    text-align: center;
}

textarea {
    width: 512px;
    height: 128px;
    background: rgba(0,0,0,.1);
    margin-bottom: 10px;
}

#resultContainer {
    font-size: 2em;
}

.cipher {
    #background: rgba(0,0,0,0.1);
    #padding: 20px;
    #border-radius: 20px;
    #border: #aa0000 0px solid;
    margin: 10px;
    text-align: left;
    font-size: 1.5em;
    color: #AA0000;
}

.help {
    width: .75em;
    filter: invert(30%) sepia(80%) saturate(2476%) hue-rotate(330deg) brightness(60%) contrast(119%);
}

input {
    alignment-baseline: middle;
}

.checkbox {
    alignment-baseline: middle;
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
}

#title {
    width: 80%;
}

#bill {
  width: 50%;
}
