body {
    font-family: sans-serif;
    background: #000 url("images/tunic_decoder_logo.jpg") top center no-repeat;
    margin-top: 170px;
    background-size: 1000px;
}

#instructions {
    width: calc(100vw - 37px);
}

#word_builder {
    background: #fff;
    padding: 5px 20px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#emeralds_container {
    margin-left:40px;
}

#emeralds {
}

#emeralds > .emerald {
    margin-left: -25px;
}

.emerald {
    margin-left: -5px;
}

.spacer {
    display: inline-block;
    vertical-align: top;
    margin: 23px 10px;
    height: 77px;
    font-style: italic;
    font-family: serif;
    font-weight: bold;
    font-size: 1.5em;
}

.character {
    display: inline-block;
    margin: 3px;
    background: #fefefe;
    border: 1px solid #eee;
    border-radius: 10px;
    width: 31px;
    padding: 10px;
}

.group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    border-radius: 10px;
    margin: 0px 5px 10px 0px;
    border: 1px solid #aaddaa;
    padding: 0px 20px 20px 20px;
    border-top: 55px solid #ddffdd;
    min-width: 300px;
    width: calc(50vw - 65px);
}

.define_character_input {
    width: 30px;
    text-align: center;
    margin: -40px;
}

.translation {
    text-align: center;
    white-space: nowrap;
    width: 50px;
    display: block;
    text-align: center;
    margin-left: -10px;
    font-size: 12px;
}

.glyph_and_translation {
    display: inline-block;
    width: 30px;
    vertical-align: top;
    text-align: center;
}

.word_wrapper {
    display: inline-block;
    vertical-align: top;
}

.group > h2 {
    margin-top: -35px;
}

.hidden {
    display: none;
}

#phrase_select {
    float: right;
    margin-top: -35px;
    margin-right: 50px;
}

#start_add_phrase {
    float: right;
    margin-top: -35px;
}

.edit_button {
    margin: 5px 10px 5px 0px;
}

.phrase {
    border-bottom: 1px solid #ddffdd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#comment_input {
    margin-bottom: 25px;
    width: 500px;
}

.comment {
    font-style: italic;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
    display: inline-block;
}

.english_input {
    vertical-align: top;
    margin-top: 100px;
    margin-right: 25px;
    min-width: 5px;
    outline: 1px solid grey;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
}

.word_input {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    margin-right: unset;
}

.stacked_button {
    display: block;
    width: 106px;
    height: 38px;
    margin: 4px;
}

#emerald_edit {
    display: inline-block;
    vertical-align: top;
    margin-top: 28px;
}

.clickable:hover {
    cursor: pointer;
}

.collapsible {
    background-color: #ddffdd;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 10px;
}

.active, .collapsible:hover {
    background-color: #aaddaa;
}

.collapsible:after {
    content: '▸';
    font-weight: bold;
    float: left;
    font-size: 1.25em;
    margin-right: 5px;
    margin-top: -5px;
}

.active:after {
    content: "▾";
}

.collapsible_content {
    margin-bottom: 10px;
    margin-top: -20px;
    padding: 18px 18px 0px 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 10px;
    border: 1px solid #aaddaa;
    background-color: #fefefe;
}
