body {
    background:#fff;
    color:#000;
    font-family:sans-serif;
}

div#content {
    margin: 0px auto;
}

h1 {
    margin:10px;
    font-size:3em;
}

h1, h2 {
    color:#00177A;
}

.button {
    font-size: 1.5em;
    padding: 17px;
}

.hidden {
    display: none;
}

#all_words.visible, #found_words.visible {
    width:512px;
    margin:0 auto;
}

.duplicate {
    text-decoration: line-through;
}

div#above_gamve{
    height:80px;
    border:0px solid blue;
}

div#start_controls{
    float:right;
    text-align:right;
    margin:5px;
    border:0px solid red;
}

dive#timer_div {
    text-align:center;
    border:0px solid red;
}

span#timer{
    display:block;
    font-size:2em;
    padding:20px;
}

div#canvas_container{
    position: relative;
    width: 512px;
    height: 512px;
}

div#below_game{
    height:90px;
    border:0px solid blue;
}

div#rules{
}

input#user_input{
    margin:5px;
    width:230px;
    height:50px;
    font-size:2em;
    letter-spacing: 3px;
    position:relative;
}

div#settings {
    float:right;
    margin:5px;
    border:0px solid red;
}

div#found_words_div, div#all_words_div {
    text-align:center;
    column-count:3;
}

span#feedback{
    display:block;
    background-color:#ffff00;
    text-align: center;
    width: 250px;
    #margin-left:5px;
    padding:7px;
    border-radius:7px;
    font-weight:bold;
    opacity:0;
}

button.key{
    width:55px;
    height:55px;
    margin:3px;
    top: -7px;
    position: relative;
}
