body {
    margin: 0px;
}

#mandelbrot_canvas {
    margin : 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%
}

#julia_canvas {
    position: absolute;
    bottom: 35px;
    right: 25px;
    border: 0px solid black;
    border-radius: 20px;
    width: 256px;
    height: 256x;
    box-shadow: 0px 5px 15px rgba(0,0,0,.5);
}

#controls {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(255,255,255,.75);
    width: 100%;
    outline: 0px solid #606060;
    padding: 5px;
}

#controls:hover {
    #background: rgba(255,255,255,.75);
}

.note {
    color:#fff;
    font-style: italic;
    float: right;
    text-shadow: 0px 1px 5px black;
}

.coord {
    width:75px;
}

#coords {
    font-family: monospace;
}

#coords_div {
    position: fixed;
    bottom: 5px;
    left:5px;
}

#elapsed_div {
    position: fixed;
    bottom: 5px;
    right:5px;
}

.zoom {
    width: 32px;
}

#download, #share {
    float: right;
    margin-right: 12px;
    margin-top: 2px;
}

input {
    vertical-align: middle;
}

#depthSelection {
    width: max(100px, calc(100% - 850px));
}

.hidden  {
    display: none;
}

#customgradient{
    position: absolute;
    top: 50px;
    left: 10px;
    border-radius: 20px;
    background: rgba(255, 255, 255, .75);
    padding: 20px;
}

h2 {
    margin: 0px;
    display: inline-block;
}

.jscolor {
    margin-bottom: 3px;
}

#close {
    float: right;
    font-size: 2em;
    margin-top: -7px;
}

#close:hover {
    cursor: pointer;
}
